* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right, #8360c3, #2ebf91);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mydata{
    background: #fff;
    padding:30px;
    width: 380px;
    border-radius: 10px;
    box-shadow: 0 12px 25px rgba(0,0,0,0.3);
}

.mydata h1{
    text-align: center;
    margin-bottom: 20px;
    color: #2ebf91;
}

.myform label{
    display:block;
    margin-top: 12px;
    font-weight: bold;
    color:#333;
}

.myform input{
    width:100%;
    padding:10px;
    margin-top: 5px;
    border-radius: 5px;
    border:1px solid #ccc;
}

.btn{
    width:100%;
    margin-top: 20px;
    padding:10px;
    background: #2ebf91;
    color:white;
    border:none;
    border-radius: 5px;
    font-size: 16px;
    cursor:pointer;
}

.btn:hover{
    background: #249d78;
}